<!DOCTYPE html>
<html>
  <head>
    <title>Thewave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

     <footer class="container mx-auto bg-var-white">
            <div class="flex items-center justify-center gap-3">
                <%= image_tag("Logo The Wave.png", alt: "logo TheWave", class: "w-10 h-10 rounded-full" ) %>
                <p>The Wave</p>
            </div>
        </footer>
  </body>
</html>
